@font-face {
    font-family: Minecraft;
    src: url(Lobster\ 1.4.otf)
  }

*{
    font-family:Minecraft;
}


body{
    background-color: #BDBCFF;
    background-image: linear-gradient(to right, rgb(255, 255, 255) , rgb(252, 252, 252));
} 
/* FONDO PAGINA */
body {
  background-image: url(../img/fondo2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  /* filter: blur(5px);  */
}
/*NAVEGACION*/

#logoong{
  width: 50px;

  float: left;
}

#uno{
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    background-color:rgb(253, 223, 223) ;
}
.nvg1{
    display: inline-block;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
.verde{
  background-color: #82B9B2;
}
#nvg2{
    text-align: center;
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top: 0;
    width: 100%;
  }
.fondonvg{
  background-color: #82B9B2;
}

#uno{
  font-size: 20px !important;
  font-size: 1rem;
}
/*IMAGENES*/
  div.imagen{
    text-align: center;
    width: 25%;
    max-width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display:inline-block;
  }
  div.imagenes {
    text-align: center;
    width: 100%;
    max-height: 100%;
    max-width: 300px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display:inline-block;
  }
  
  div.texto {
    text-align: center;
    padding: 10px 20px;
  }