@font-face {
    font-family: Minecraft;
    src: url(njnaruto.ttf)
  }

*{
    font-family:Minecraft;
}


body{
    background-color: #BDBCFF;
    background-image: linear-gradient(to right, rgb(235, 233, 126) , rgb(226, 226, 83));
}

/*NAVEGACION*/
#uno{
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    background-color:darkgray ;
}
.nvg1{
    display: inline-block;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
.verde{
  background-color: #82B9B2;
}
#nvg2{
    text-align: center;
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#82B9B2;
    top: 0;
    width: 100%;
  }

/*IMAGENES*/

  div.imagenes {
    text-align: center;
    width: 300px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display:inline-block;
  }
  
  div.texto {
    text-align: center;
    padding: 10px 20px;
  }