@font-face {
    font-family: Minecraft;
    src: url(Minecraft.ttf)
  }

*{
    font-family:Minecraft;
}

body{
    background-image: linear-gradient(to right, rgb(235, 233, 126) , rgb(226, 226, 83));
}

#uno{
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    background-color:darkgray ;
}
.nvg1{
    display: inline-block;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

#nvg2{
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:gray;
    position: fixed;
    top: 0;
    width: 100%;
  }
